@import "tailwindcss";

@font-face {
  font-family: "Fuzar";
  src: url("/fonts/Fuzar_GX.woff2") format("woff2");
  font-weight: 100 900;
  font-width: 100 900;
  font-style: normal;
  font-display: swap;
}

@theme {
  --font-fuzar: "Fuzar", sans-serif;
}

html,
body {
  height: 100%;
}
body {
  background: #ffffff;
  color: #111111;
}
html {
  scroll-behavior: smooth;
}
